@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.purple-gradient {
  background: linear-gradient(92deg, #7a22ff 2.87%, #6204ba 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}
